:root {
  --site-orange: rgb(254,132,47);
  --dark-blue: rgb(12, 9, 93);
  --font-size-base: calc( ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) * var(--fluid-bp) );
  --theme-shade-subtle: rgb(255, 0, 128);
  --theme-bg: rgb(229, 226, 226);
  --theme-text-light: rgb(90, 86, 86);
  --theme-text: black;
  --theme-bg-offset: var(--site-orange);
  --theme-accent-opacity: 0.1;
}

html {
  /* background-color: #f1f5f9; */
  font-family: sans-serif;

}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 90ch;
  padding: 1rem;
  line-height: 1.5;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

p {
  font-size: var(--font-size-base);
  line-height: 200%;
  font-family: 'General Sans', sans-serif;
}

a {
  color: var(--site-orange);
  text-decoration: none;
}

a:hover {
  font-size: 1.1rem;
}

/* utils */
.border-container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--site-orange);
}


/* copy code button */
.copy-code {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--site-orange);
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.copy-code:hover {
  background-color: white;
  color: var(--site-orange);
}


/* block quotes */

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 20px 0;
  position: relative;

  /*Font*/
  font-size: 19px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid var(--site-orange);
  border-right: 2px solid var(--site-orange);

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before {
  content: "\201C"; /*Unicode for Left Double Quote*/

  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px;
}

blockquote::after {
  /*Reset to make sure*/
  content: "";
}

blockquote em {
  font-style: italic;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}
pre code {
  background-color: black;
  border: 1px solid #999;
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 20px;
  font-family: monospace;
  font-size: 1rem;
  min-height: 50px;
}

/* * nav styles */ */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--site-orange);
  display: none;
  
}

.hidden {
  display: none;
}
.nav-links, .mobile-nav-links a {
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(12, 9, 93);
}

.nav-links a:hover,
.nav-links a:focus,
.mobile-nav-links a:hover,
.mobile-nav-links a:focus {
  background-color: var(--site-orange);
  color: white
}

.expanded {
  display: unset;
}

.mobile-nav-links {
  width: 100%;
  top: 5rem;
  left: 0; 
  flex-direction: column; 
  align-items: flex-start; 
  margin: 0;
  padding: 8px; 
  background-color: #eee
}

.mobile-nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(12, 9, 93);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
    width: auto;
    background: none;
    }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

	.hamburger {
    display: none;
  }
}

.blog-card .desc-string {
  margin: 16px;
  color: black;
}

.blog-card {
  padding: 8px;
}


.blog-card-content p {
  margin: 16px;
  line-height: 1.4;
}

.blog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid var(--site-orange);
}

.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 12px;
}

.blog-card-container {
  margin: 1em 0;
  margin: 16px;
  display: flex;
  justify-content: space-between;
}

.blog-card-container a {
  display: block;
}
.blog-card-container .tags a {
  color: #00539f;
}

.blog-card-container .tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: start;
  justify-content: flex-end;
}

.blog-card-container .tags .small-tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background-color: #f8fcfd;
  font-size: 12px;
}