---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Page Not Found">
  <div>
    <p>Sorry. Can't seem to find that.</p>
  </div>
</BaseLayout>

<style>
  div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
