---
import { getCollection } from "astro:content";
import BlogPostCard from "../components/BlogPostCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts").then((res) => res.sort((a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))));
---

<BaseLayout pageTitle="Blog">
  <a href="/tags">View post by tag</a>
  <p>
    I blog about a lot of tech and learning topics. These posts are a combination of tutorials and thinking. I
    often revisit these posts and update them both as technologies change and my thinking changes.
  </p>
  <div class="blog-cards">
    {
      allPosts.map((post) => (
        <BlogPostCard
          title={post.data.title}
          url={`/posts/${post.slug}`}
          ogimage=""
        />
      ))
    }
  </ul>
</BaseLayout>


<style>
  .blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    column-gap: 50px;
  }
</style>