---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Bookmark {
  title: string;
  url: string;
  tags: string[];
  date: string;
  description: string;
}

const bookmarkFiles = await getCollection("bookmarks");

const bookmarks: Bookmark[] = [];

bookmarkFiles.forEach((file) => {
  bookmarks.push(...file.data);
});
---

<BaseLayout pageTitle="Bookmarks">
  <h1>Bookmark collection</h1>
  <div>
    <p>
      This is aimed to be a selection of bookmarks that I've collected using a
      custom Raycast extension.
    </p>
    <p>They are mostly for my memory but may be of use to others.</p>
  </div>
  <div class="bookmarks-container">
    {
      bookmarks
        .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf())
        .map((bookmark) => (
          <div class="bookmark">
            <p class="bookmark-title">
              <a href={bookmark.url} class="bookmark-link">
                {bookmark.title}
              </a>
            </p>
            <p class="bookmark-description">{bookmark.description}</p>
            <ul class="bookmark-tags">
              {bookmark.tags.map((tag, tagIndex) => (
                <li class="tag">{tag}</li>
              ))}
            </ul>
          </div>
        ))
    }
  </div>
</BaseLayout>

<style>
  .bookmarks-container {
    margin: 0;
    padding: 0;
  }

  .bookmark {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .bookmark-title {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
  }

  .bookmark-link {
    color: #0077cc;
    text-decoration: none;
  }

  .bookmark-link:hover {
    text-decoration: underline;
  }

  .bookmark-description {
    margin: 0 0 10px 0;
  }

  .bookmark-tags {
    list-style: none;
    padding: 0;
  }

  .tag {
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
  }
</style>
