---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Otherpage";
import { getCollection } from "astro:content";
import { getMetaImage } from "../scripts/utils";
import Newsletter from "../components/Newsletter.astro";
import { formatDistance } from "date-fns";

// get me the latest 3 posts from the posts collection in astro using the getCollections method
const latestPosts = await getCollection("posts").then((postMessages) =>
  postMessages
    .sort(
      (a, b) => Number(new Date(b.data.date)) - Number(new Date(a.data.date))
    )
    .slice(0, 3)
);
---

<BaseLayout pageTitle={pageTitle}>
  <div transition:animate="slide" class="heading">
    <h1>👋 Hey! Welcome!</h1>
  </div>
  <div class="top">
    <p>I'm Kevin and this is my little corner of the internet.</p>
    <p>
      I'm a developer educator, speaker and writer. I love learning new stuff.
    </p>
    <p>
      Hopefully, you can learn something around here (and teach me something
      too!).
    </p>
  </div>
  <div>
    <h2>Latest posts</h2>
    {
      latestPosts.map((post) => {
        const { title, date, description } = post.data;
        return (
          <div class="blog-card">
            <a href={`/posts/${post.slug}`}>
              {title} -{" "}
              {formatDistance(new Date(date), new Date(), {
                addSuffix: true,
              })}
            </a>
            <p class="desc-string">{description}</p>
            <div class="blog-card-content" />
          </div>
        );
      })
    }
  </div>
  <div>
    <h2>Courses</h2>
  </div>
  <Newsletter />
</BaseLayout>

<style>
  /* Create a centered heading */
  .date-string::before {
    content: "(";
  }
  .date-string::after {
    content: ")";
  }

  .desc-string {
    margin: 16px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .top p {
    margin: 4px;
  }
  .blog-card {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px;
  }

  .blog-card-content p {
    margin: 16px;
    line-height: 1.4;
  }

  /* on odd rows, flip the image to the right */
  .blog-card {
    order: 2;
  }
</style>
