---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Courses">
  <h1>Support for the AI RAG Course</h1>

  <h2>Links</h2>
  <ul>
    <li><a href="https://go.neueda.com/503-2">Course Website</a></li>
    <li><a href="">Lab 2</a></li>
  </ul>
</BaseLayout>
