---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Courses">
  <h1>Support for the AI RAG Course</h1>

  <p>Password for all the things: <strong>n3u3da!</strong></p>

  <h2>Links</h2>
  <ul>
    <li><a href="https://go.neueda.com/503-2">Course Website</a></li>
    <li>
      <a
        href="https://gist.github.com/doingandlearning/43b576bb4600d0f9a51f80ffe821fef6"
        >Lab 2</a
      >
    </li>
  </ul>
</BaseLayout>
