---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Webmention experiment">
  <div class="h-entry">
    <div class="u-author h-card">
      <img
        src="https://res.cloudinary.com/kc-cloud/image/upload/f_auto,q_auto/v1/raycast-uploads/eekzfqaepkqawlyk9hfl"
        class="u-photo"
        width="40"
      />
      <a href="https://kevincunningham.co.uk/" class="u-url p-name"
        >Kevin Cunningham</a
      >
    </div>
    <p>
      in reply to: <a
        class="u-in-reply-to"
        href="https://aaronparecki.com/2018/06/30/11/your-first-webmention"
        >@aaronpk</a
      >
    </p>
    <p class="e-content">Trying out this guide to sending webmentions</p>
  </div>
</BaseLayout>
