---
import { getMetaImage } from "../scripts/utils";
const {title, url} = Astro.props;
const ogimage = getMetaImage(title)
---

<div>
	<a href={url} title={title}>
		<img src={ogimage} alt={title}  width="350" />
	</a>
</div>