---
import { getMetaImage } from "../scripts/utils";
import { formatDistance } from "date-fns";

interface Props {
  title: string;
  url: string;
  description?: string;
  withImage?: boolean;
  date?: string;
  tags?: string[];
}

const { title, url, withImage, description, date, tags = [] } = Astro.props;
const ogimage = getMetaImage(title);
---

<div class="blog-card-container">
  <a href={url}>
    <div class="blog-card">
      {title}
      {
        date &&
          ` - ${formatDistance(new Date(date), new Date(), {
            addSuffix: true,
          })}`
      }
      <p class="desc-string" id="desc-string">{description}</p>
    </div>
  </a>
  {
    tags && (
      <div class="tags">
        {tags.map((tag: string) => (
          <p class="small-tag">
            <a href={`/tags/${tag}`}>
              #{tag[0].toUpperCase() + tag.substring(1)}
            </a>
          </p>
        ))}
      </div>
    )
  }
</div>
<style></style>
