---
import { getMetaImage } from "../scripts/utils";

interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;
const ogimage = getMetaImage(title);
---

<div>
  <a href={url} title={title}>
    <img src={ogimage} alt={title} width="350" loading="lazy" />
  </a>
</div>
