---
export interface Props {
  icon?: "question-mark";
}

const { icon } = Astro.props;
---

<div
  class="highlight-box content"
  style={`--box-icon-url: url('/images/${icon}.svg');`}
>
  <section>
    <div>
      <img src={`/images/${icon}.svg`} alt="question mark" width="60" />
    </div>
    <slot />
  </section>
</div>

<style>
  :global(section > *) + .highlight-box {
    margin: 4rem 0;
  }

  section {
    display: flex;
    align-items: center;
  }

  .highlight-box {
    position: relative;
    padding-block: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 4rem;
    border: 1px solid var(--theme-shade-subtle);
    box-shadow:
      -0.5rem 0.5rem 0 -1px var(--theme-bg),
      -0.5rem 0.5rem var(--theme-shade-subtle),
      -1rem 1rem 0 -1px var(--theme-bg),
      -1rem 1rem var(--theme-shade-subtle);
    background-color: var(--theme-bg);
  }
</style>
