<h1>Hello</h1>

<div id="container">
  <div id="editor"></div>
  <div id="result">Something</div>
</div>

<style>
  #container {
    display: flex;
    flex-direction: row;
  }

  #editor {
    flex: 1;
  }

  #result {
    flex: 1;
  }
</style>
<script>
  import { EditorView, basicSetup } from "codemirror";
  import { javascript } from "@codemirror/lang-javascript";

  let editor = new EditorView({
    extensions: [basicSetup, javascript()],
    parent: document.getElementById("editor")!,
  });
</script>
