---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style-type: none;
    background: rgb(254, 132, 47);
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 1rem;
  }

  footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }

  .social:hover path {
    fill: var(--site-orange);
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 800;
    text-align: center;
  }

  .mt-8 {
    margin-top: 2rem;
  }

  .mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .social-container {
    display: flex;
    justify-content: space-between;
  }
  .social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .social svg {
    width: 50px;
    height: 50px;
  }

  .social-text {
    padding-top: 0.25rem;
    font-weight: 700;
    opacity: 0;
  }

  .pb-8 {
    padding-bottom: 2rem;
  }

  .bluesky-link {
    svg:hover {
      fill: "#1185fe";
    }
  }
</style>

<div class="pb-8">
  <h2 class="">Connect with me on socials</h2>
  <div class="mt-8">
    <div class="social-container">
      <div class="mx-3 text-center md:mx-12 social group">
        <a
          href="https://bsky.app/profile/dolearning.dev"
          data-umami-event="bluesky-link"
          target="_blank"
          rel="noreferrer"
        >
          <svg viewBox="0 0 600 530" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
              fill="#94a3b8"
              fill-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="mx-3 text-center md:mx-12 social group">
        <a
          rel="me"
          href="https://hachyderm.io/@dolearning"
          data-umami-event="mastodon-link"
          target="_blank"
          rel="noreferrer"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M433 179.11c0-97.2-63.71-125.7-63.71-125.7-62.52-28.7-228.56-28.4-290.48 0 0 0-63.72 28.5-63.72 125.7 0 115.7-6.6 259.4 105.63 289.1 40.51 10.7 75.32 13 103.33 11.4 50.81-2.8 79.32-18.1 79.32-18.1l-1.7-36.9s-36.31 11.4-77.12 10.1c-40.41-1.4-83-4.4-89.63-54a102.54 102.54 0 0 1-.9-13.9c85.63 20.9 158.65 9.1 178.75 6.7 56.12-6.7 105-41.3 111.23-72.9 9.8-49.8 9-121.5 9-121.5zm-75.12 125.2h-46.63v-114.2c0-49.7-64-51.6-64 6.9v62.5h-46.33V197c0-58.5-64-56.6-64-6.9v114.2H90.19c0-122.1-5.2-147.9 18.41-175 25.9-28.9 79.82-30.8 103.83 6.1l11.6 19.5 11.6-19.5c24.11-37.1 78.12-34.8 103.83-6.1 23.71 27.3 18.4 53 18.4 175z"
              fill="#94a3b8"
              fill-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="mx-3 text-center md:mx-12 social group">
        <a
          href="https://github.com/doingandlearning/"
          target="_blank"
          rel="noreferrer"
        >
          <svg viewBox="0 0 439 429" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M409.132 109.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736 10.166 259.057.365 219.27.365c-39.78 0-76.47 9.804-110.062 29.408-33.596 19.605-60.192 46.204-79.8 79.8C9.803 143.168 0 179.853 0 219.63c0 47.78 13.94 90.745 41.827 128.906 27.884 38.164 63.906 64.572 108.063 79.227 5.14.954 8.945.283 11.42-1.996 2.474-2.282 3.71-5.14 3.71-8.562 0-.57-.05-5.708-.144-15.417-.098-9.71-.144-18.18-.144-25.406l-6.567 1.136c-4.187.767-9.47 1.092-15.846 1-6.375-.09-12.992-.757-19.843-2-6.854-1.23-13.23-4.085-19.13-8.558-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.9-9.233-8.992-14.56-4.093-5.33-8.232-8.944-12.42-10.847l-1.998-1.43c-1.332-.952-2.568-2.1-3.71-3.43-1.143-1.33-1.998-2.663-2.57-3.997-.57-1.335-.097-2.43 1.428-3.29 1.525-.858 4.28-1.275 8.28-1.275l5.708.853c3.807.763 8.516 3.042 14.133 6.85 5.615 3.807 10.23 8.755 13.847 14.843 4.38 7.807 9.657 13.755 15.846 17.848 6.184 4.093 12.42 6.136 18.7 6.136 6.28 0 11.703-.476 16.273-1.423 4.565-.95 8.848-2.382 12.847-4.284 1.713-12.758 6.377-22.56 13.988-29.41-10.847-1.14-20.6-2.857-29.263-5.14-8.658-2.286-17.605-5.996-26.835-11.14-9.235-5.137-16.896-11.516-22.985-19.126-6.09-7.614-11.088-17.61-14.987-29.98-3.9-12.373-5.852-26.647-5.852-42.825 0-23.035 7.52-42.637 22.557-58.817-7.044-17.318-6.38-36.732 1.997-58.24 5.52-1.715 13.706-.428 24.554 3.853 10.85 4.284 18.794 7.953 23.84 10.995 5.046 3.04 9.09 5.618 12.135 7.708 17.706-4.947 35.977-7.42 54.82-7.42 18.84 0 37.116 2.473 54.822 7.42l10.85-6.85c7.418-4.57 16.18-8.757 26.26-12.564 10.09-3.806 17.803-4.854 23.135-3.14 8.562 21.51 9.325 40.923 2.28 58.24 15.035 16.18 22.558 35.788 22.558 58.818 0 16.178-1.958 30.497-5.853 42.966-3.9 12.47-8.94 22.457-15.125 29.98-6.19 7.52-13.9 13.85-23.13 18.985-9.233 5.14-18.183 8.85-26.84 11.135-8.663 2.286-18.416 4.004-29.264 5.146 9.894 8.563 14.842 22.078 14.842 40.54v60.237c0 3.422 1.19 6.28 3.572 8.562 2.38 2.278 6.136 2.95 11.276 1.994 44.163-14.653 80.185-41.062 108.068-79.226 27.88-38.16 41.826-81.126 41.826-128.906-.01-39.77-9.818-76.454-29.414-110.05z"
              fill="#94a3b8"
              fill-rule="evenodd"></path>
          </svg>
        </a>
      </div>
      <div class="mx-3 text-center md:mx-12 social group">
        <a
          href="https://www.linkedin.com/in/kevinpcunningham/"
          data-umami-event="linkedin-link"
          target="_blank"
          rel="noreferrer"
        >
          <svg viewBox="0 0 510 510" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M459 0H51C22.95 0 0 22.95 0 51v408c0 28.05 22.95 51 51 51h408c28.05 0 51-22.95 51-51V51c0-28.05-22.95-51-51-51zM153 433.5H76.5V204H153v229.5zm-38.25-272.85c-25.5 0-45.9-20.4-45.9-45.9s20.4-45.9 45.9-45.9 45.9 20.4 45.9 45.9-20.4 45.9-45.9 45.9zM433.5 433.5H357V298.35c0-20.4-17.85-38.25-38.25-38.25s-38.25 17.85-38.25 38.25V433.5H204V204h76.5v30.6c12.75-20.4 40.8-35.7 63.75-35.7 48.45 0 89.25 40.8 89.25 89.25V433.5z"
              fill="#94a3b8"
              fill-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>
    <a
      href="/feed.xml"
      class="text-white list-none my-auto"
      target="_blank"
      rel="noreferrer"
    >
      RSS
    </a>
  </p>
  <div>
    <p>&copy; {new Date().getFullYear()} Kevin Cunningham</p>
  </div>
  <p>
    <a
      href="/sitemap-index.xml"
      class="text-white list-none my-auto"
      target="_blank"
      rel="noreferrer"
    >
      Sitemap
    </a>
  </p>
</footer>
