---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <div class="home-link">
      <a href="/">
        <img
          src="/images/brain.jpg"
          height="40"
          width="40"
          alt="brain on treadmill"
        />
      </a>
    </div>
    <Hamburger />
    <Navigation />
  </nav>
  <Navigation isMobile={true} />
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between; /* Align hamburger to the right */
    align-items: center;
  }

  .home-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-link a {
    margin: auto;
  }

  .home-link a:hover {
    text-decoration: underline;
  }

  .home-link img {
    border-radius: 50%;
  }

  .home-link p {
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    line-height: 1.5;
  }
</style>
