<h4 id="error" class="error-message hidden"></h4>
<form>
  <h3>Like what you see?</h3>
  <p>
    I send out a (semi) regular newsletter which shares the latest from here and
    my reading from around the web. Sign up below.
  </p>
  <div>
    <label for="name">
      Name:
      <input type="text" name="name" id="name" required />
    </label>
  </div>
  <div id="email-container">
    <label for="email">
      Email:
      <input type="email" name="email" id="email" required />
    </label>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<script>
  const form = document.querySelector("form");
  const email = document.querySelector("#email") as HTMLInputElement;
  const name = document.querySelector("#name") as HTMLInputElement;
  const error = document.querySelector("#error");
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    try {
      form.classList.add("loading");
      error!.classList.add("hidden");
      const email_address = email!.value;
      const first_name = name!.value;
      await fetch(`https://app.convertkit.com/forms/1697448/subscriptions`, {
        method: "post",
        body: JSON.stringify({ email_address, first_name }, null, 2),
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
      })
        .then((res) => res.json())
        .then((response) => {
          form.classList.remove("loading");
          if (response.status === "success") {
            form.innerHTML = `<h3>Thanks for signing up!</h3>`;
          } else {
            error!.classList.remove("hidden");
            error!.innerHTML = response.error.message;
          }
        });
    } catch (error) {
      if (error instanceof Error) {
        console.error(error.message);
      }
    }
  });
</script>

<style>
  form {
    background-color: #f3f4f6;
    margin: 12px;
    padding: 14px;
    border: 1px solid var(--site-green);
    border-radius: 6px;
  }

  form input {
    padding: 0.5rem 1.25rem;
    color: #1f2937;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    margin: 3px;
    width: 100%;
  }

  #email-container {
    margin-bottom: 12px;
  }

  form button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1.25rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px #0000000d;
    background: linear-gradient(90deg, #9a0190, #60005a) !important;
    border-radius: 8px;
    width: 100%;
  }
</style>
