---
import { getCollection } from "astro:content";
import { getMetaImage } from "../scripts/utils";
const { tags, thisPost } = Astro.props;

const posts = await getCollection("posts");

// tags is an array of posts
// posts have a tags array on them
// filter posts by tags
const filteredPosts = posts
  .filter((post) => {
    return post.data.tags.some(
      (tag) => tags.includes(tag) && post.data.title !== thisPost
    );
  })
  .sort(() => Math.random() - Math.random())
  .filter((_, index) => index < 4);

// if the filteredPosts are less than 3, then we need to add more posts
const postsToAdd = 4 - filteredPosts.length;

// get the posts that we need to add by selecting random posts from the posts array
const randomPosts = posts
  .filter(
    (post) =>
      !filteredPosts.includes(post) &&
      post.data.title !== thisPost &&
      !post.data.draft
  )

  .slice(0, postsToAdd);

// add the random posts to the filteredPosts array
const postsToDisplay = [...filteredPosts, ...randomPosts];
---

<h2>Your next read?</h2>
<ul class="next-post-li">
  {
    postsToDisplay.map((post) => (
      <li class="next-post-item">
        <a href={`/posts/${post.slug}`} aria-label={post.data.title}>
          <img
            src={getMetaImage(post.data.title)}
            width="300"
            alt={post.data.title}
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  <style > h2 {
    text-align: center;
  }

  .next-post-li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Adjust the gap between items as needed */
    padding: 0;
    margin: 0 auto;
    max-width: 600px; /* Optional: to center and limit the width */
  }

  .next-post-item {
    list-style-type: none;
  }
</style>
