---
const { tags } = Astro.props;
---

<div>
  <div class="tags">
    {
      tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag[0].toUpperCase() + tag.substring(1)}</a>
        </p>
      ))
    }
  </div>
</div>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
